@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

header  {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(to left, blue, white);
    z-index: 5;
}



body{
    background-image: url(images/pexels-valdemaras-d-1647972.jpg);
    background-attachment: fixed;
    padding: 80px;
   }

main{
    position: static;
    background-color: #d9d9ffbe;
    margin: auto;
    box-shadow: 7px 7px 7px black;
    border-radius: 10px;
    text-align: justify;
    min-width: 280px;
    max-width: 800px;  
    padding: 5px;
}

div.video {
    background-color: rgb(165, 212, 253);
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 50%;
    border-radius: 5px;
    z-index: 0;
}

div.video > iframe {
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}

footer {
    text-align: center;
    text-decoration: solid;
    padding-top: 20px;
}

h1 {
    text-shadow: 1px 1px 0px black;
    color: blue;
    width: fit-content;
}

h2 {
    text-shadow: 1px 1px 0px black;
    color: blue;
    width: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-width: 280px;
    max-width: 650px;
    margin: auto;
}

label {
    font-weight: bolder;
    margin-bottom: 5px;
    min-width: 280;

}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(188, 151, 255);
    border-radius: 5px;
    font-size: 1.1rem;
    min-width: 280px;
    margin: auto;
}


@media (max-width: 767px){
    #itens {
        border-color: aqua;
        display: none;    
    }
    #itens ul li a{
        text-align: center;
        display: block;
    }

    #menuIcon {
        display: block;    
        text-align: center;
        cursor: pointer;
    }

    #itens ul li a{
        text-decoration: none;
        padding: 10px 15px 10px 15px;
        display: block;
        transition: background .4s;
    }
    
    #itens ul li a:hover{
        background-color: rgb(111, 138, 255);
        box-shadow: 2px 2px 3px black;
        border-radius: 2px;
    }
    
    #itens_horizontal {
        display: none;
    }
}

@media screen and (min-width:768px){
    #menuIcon {
        display: none;
    }
    
    #itens_horizontal ul li{
        display: inline;
        text-align: center;
    }
    
    #itens_horizontal ul li a{
        text-decoration: none;
        padding: 10px 15px 10px 15px;
        display: inline-block;
        transition: background .4s;
    }
    
    #itens_horizontal ul li a:hover{
        background-color: rgb(111, 138, 255);
        box-shadow: 2px 2px 3px black;
        border-radius: 2px;
    }

    #itens {

        display: none;    
    }
    
}


